/*  Selector universal: *   */
/*  Selector de id: #<id>*  /

/*  Selector de Elemen: <etiqueta>  */
h1, .h1 {
  font-family: Arial, Helvetica;
  color: maroon;
  font-size: 24px;
}

h2, .h2 {
  font-family: Arial, Helvetica;
  color: green;
  font-size: 18px;
}
/*  Selector de clase:  .<nombreClase>  */

.text {
  text-align: justify;
}

.topbar {
  background: aquamarine;
}

.article{

}
  .article__header {
    font-family: Arial, Helvetica;
    color: green;
  }

  .article__footer{

  }
