/*  Selector universal: *   */
/*  Selector de id: #<id>*  /

/*  Selector de Elemen: <etiqueta>  */
h1, .h1 {
  font-family: Arial, Helvetica;
  color: maroon;
  font-size: 24px;
}

h2, .h2 {
  font-family: Arial, Helvetica;
  color: green;
  font-size: 18px;
}
/*  Selector de clase:  .<nombreClase>  */

.text {
  text-align: justify;
}

.topbar {
  background: aquamarine;
}

.article{
  background-color: lightgreen;
}
  .article__header {
    font-family: Arial, Helvetica;
    color: green;
  }

  .article__footer{
    background-color: lightblue;
  }

li[data-attr="lang"] {
  background-color: blue;
  color: yellow;
}
li[data-attr="style"] {
  background-color: black;
  color: green;
}
li[data-attr="kernel"] {
  background-color: olive;
  color: white;
}
